@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100);
@import url(../../node_modules/normalize.css/normalize.css);
.list-unstyled {
  padding: 0;
  margin: 0; }
  .list-unstyled li {
    list-style: none; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: -apple-system, 'Lato', 'Helvetica Neue', 'Lucida Grande' sans-serif;
  font-weight: 100;
  font-size: 62,5%;
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none; }

.content {
  max-width: 800px;
  margin: 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.brand {
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: .5em; }

.brand-logo {
  background: url("../code-brewery-logo.png") no-repeat center top;
  background-size: contain;
  width: 100px;
  height: 100px; }

.brand-logo:hover {
  background: url("../code-brewery-logo-color.png") no-repeat center top;
  background-size: contain; }

.site-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  height: 150px; }

.members {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.members__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2em;
  padding: 0; }

.members__member {
  margin: 25px; }

.members__member a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.members__member_avatar {
  max-width: 100px;
  border-radius: 50%;
  transition: all 0.5s ease; }

.members__member_avatar:hover {
  -webkit-filter: blur(20px);
  filter: blur(20px); }

.members__member_username {
  transition: all 0.5s ease; }

.social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.social h3 {
  font-weight: 100;
  margin-bottom: 0; }

.social__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em; }

.social__link {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 25px; }

.social__github:hover a {
  color: #333333; }

.social__twitter:hover a {
  color: #55acee; }

@media screen and (min-width: 321px) {
  .site-header {
    height: 300px; }
  .brand {
    font-size: 4rem; }
  .brand-logo {
    width: 200px;
    height: 200px; } }

@media screen and (min-width: 1024px) {
  .members__member_avatar {
    max-width: 160px; } }

/*# sourceMappingURL=app.css.map */