.members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2em;
    padding: 0;
}

.members__member {
    margin: 25px;
}

.members__member a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members__member_avatar {
    max-width: 100px;
    border-radius: 50%;
    transition: all .5s ease;
}

.members__member_avatar:hover {
    filter: blur(20px);
}

.members__member_username {
    transition: all .5s ease;
}